<h1>Edit Employee Profile for <%= current_employee.name %> </h1>
<%= form_with model: current_employee, url: employee_path(current_employee.id), local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= render "shared/error_messages", { field: :name, object: current_employee } %>
  </div>
  <div class="field">
    <%= f.label 'role' %><br>
    <%= f.select :role, [ "HR", "Resource" ] %>
    <%= render "shared/error_messages", { field: :role, object: current_employee } %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
    <%= render "shared/error_messages", { field: :address, object: current_employee } %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
    <%= render "shared/error_messages", { field: :contact_number, object: current_employee } %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.number_field :experience %>
    <%= render "shared/error_messages", { field: :experience, object: current_employee } %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm Changes" %>
  </div>
<% end %>
<%= link_to "Back", :back %>
