<div class="nested_fields">
  <%= f.hidden_field :_destroy %>
  <div class="field">
    <%= f.label :question_bank_id, "Questions", class: "mb-2 text-muted" %><br>
    <%= f.select :question_bank_id, QuestionBank.all.map { |question| [question.question, question.id] }, { include_blank: true }, { class: 'chosen-select', multiple: false } %><br>
  </div>
  <div class="field">
    <%= f.label :answer, class: "mb-2 text-muted" %><br>
    <%= f.text_field :answer, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :rating, class: "mb-2 text-muted" %><br>
    <%= f.number_field :rating, class: "form-control" %>
  </div>       
  <div>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div>
</div>
