<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <h2>New Employee Registration</h2>
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <%= form_with model: @skill, local: true do |f| %>
              <div class="field">
                <%= f.label :Skill_name, class: "mb-2 text-muted" %><br>
                <%= f.text_field :name, class: "form-control" %><br>
                <%= render "shared/error_messages", { field: :name, object: @skill } %>
              </div>
              <%= f.submit "Add Skill", class: "btn btn-primary ms-auto" %><br><br>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
